{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        io.github.taqmuraz/nine {:mvn/version "1.2.40"}
        cz.advel.jbullet/jbullet {:mvn/version "20101010-1"}
        zprint/zprint {:mvn/version "1.2.9"}}
 :aliases {:run {:main-opts ["-m" "wing.core"]}
           :uberjar {:jvm-opts ["-Dclojure.compiler.direct-linking=true"]}}}
